<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>
			Online Store
		</title>
		<link rel="stylesheet" href="static/default.css" type="text/css">
	</head>
	<body>
		<h1>hello , sur page</h1>
		<div id="main">
			<span id="module_bouton01">
				<button id="bouton01">Bouton 1</button>
			</span>
			<span id="module_bouton02">
				<button id="bouton02">Bouton 2</button>
			</span>
			<span id="module_bouton03">
				<button id="bouton03">Bouton 3</button>
			</span>

			<div id="module_affiche_message">
				<h3>--------------------------------------</h3>
				<h2>Les boutons cliqués sont :</h2>
				<p id="message"></p>
			</div>

			<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js"></script>
			<script src="./static/jsjw/jquery.js"></script>
			<script src="static/jsjw/core-jquery.js"></script>
			<!-- <script src="static/jsjw/core-dojo.js"></script> -->
			<script src="static/jsjw/sandbox.js"></script>
			<script src="static/jsjw/claire_exo01_modules.js"></script>




		</div>
	</body>
</html>
