<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>
			Online Store
		</title>
		<link rel="stylesheet" href="static/default.css" type="text/css">
	</head>
	<body>
		<h1>hello , sur page</h1>
		<div id="main">

			<div id="module_formulaire" frame-doriath ="module_formulaire" >
				<p>Formulaire</p>
				<textarea cols="80" autofocus rows="10" id="texteArea"></textarea>
				<button id="btn_envoyer" class="btn-primary">Envoyer</button>				
			</div>

			<div id="module_data">
				<label><h3>Voici le texte envoyer: </h3></label>
				<p id="dataFormulaire" ></p>
			</div>
				
		</div>

			<!-- <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js"></script> -->
			<script src="./static/jsjw/jquery.js"></script>
			<script src="static/jsjw/core-jquery.js"></script>
			<!-- <script src="static/jsjw/core-dojo.js"></script> -->
			<script src="static/jsjw/sandbox.js"></script>
			<script src="static/jsjw/exo_simple3.js"></script>
			<script src="static/papa.js"></script>

		</div>
	</body>
</html>
