<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>
			Online Store
		</title>
		<link rel="stylesheet" href="static/default.css" type="text/css">
		<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<h1>hello , sur page</h1>
		<div id="main">

			<div id="module_rechercher" frame-doriath ="module_rechercher" >
				<p name="formulaire666" id="formulaire666">Formulaire</p>
				<label>ID :</label>
				<input type="text" id="numero" pattern="\d*" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
				<button class="btn btn-light" id="rechercher">Rechercher</button>
			</div>
			<div id="module_fetch">
				
			</div>
			

			<div id="module_display">
				<label>Nom : </label>
				<label id = "name"></label>
				<br>
				<label>Prénom : </label>
				<label id ="username"></label>
			</div>		
				
		</div>



			<!-- <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js"></script> -->
			<script src="./static/jsjw/jquery.js"></script>
			<script src="static/jsjw/core-jquery.js"></script>
			<!-- <script src="static/jsjw/core-dojo.js"></script> -->
			<script src="static/jsjw/sandbox.js"></script>
			<script src="static/jsjw/exo_simple5.js"></script>
			<script src="static/papa.js"></script>

		</div>
	</body>
</html>

