<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>
			Online Store
		</title>
		<link rel="stylesheet" href="static/default.css" type="text/css">
	</head>
	<body>
		<h1>hello , sur page</h1>
		<div id="main">

			<div id="module_reine">
				<p>Pizza Reine</p>
				<button id="reine_taille1" class="btn-primary">Taille 1</button>
				<button id="reine_taille2" class="btn-primary">Taille 2</button>
				<button id="reine_taille3" class="btn-primary">Taille 3</button>
			</div>

			<div id="module_forestiere">
				<p>Pizza Forestière</p>
				<button id="forestiere_taille1" class="btn-primary">Taille 1</button>
				<button id="forestiere_taille2" class="btn-primary">Taille 2</button>
				<button id="forestiere_taille3" class="btn-primary">Taille 3</button>
			</div>

			<div id="module_panier">

				<p id="panier" ></p>
			</div>



			<!-- <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js"></script> -->
			<script src="./static/jsjw/jquery.js"></script>
			<script src="static/jsjw/core-jquery.js"></script>
			<!-- <script src="static/jsjw/core-dojo.js"></script> -->
			<script src="static/jsjw/sandbox.js"></script>
			<script src="static/jsjw/exo_simple.js"></script>
			<script src="static/papa.js"></script>




		</div>
	</body>
</html>
