<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>
			Online Store
		</title>
		<link rel="stylesheet" href="static/default.css" type="text/css">
	</head>
	<body>
		<h1>hello , sur page</h1>
		<div id="main">

			<div id="module_formulaire" frame-doriath ="module_formulaire" >
				<p>Formulaire</p>
				<label>Nom</label><input type="text" name="" id="inp01">
				<label>Prénom</label><input type="text" name="" id="inp02">
				<label>Pseudo</label><input type="text" name="" id="inp03">
				<button id="btn_envoyer" class="btn-primary">Envoyer</button>				
			</div>

			<div id="module_data">
				<label>Voici les saisies du formulaire : </label>
				<p id="dataFormulaire" ></p>
			</div>

			<div id="module_info">
				<label>Voici la balise ayant le focus : </label>
				<p id="baliseFocus" ></p>
			</div>

			<!-- <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js"></script> -->
			<script src="./static/jsjw/jquery.js"></script>
			<script src="static/jsjw/core-jquery.js"></script>
			<!-- <script src="static/jsjw/core-dojo.js"></script> -->
			<script src="static/jsjw/sandbox.js"></script>
			<script src="static/jsjw/exo_simple2.js"></script>
			<script src="static/papa.js"></script>

		</div>
	</body>
</html>
